/vendor
/node_modules
/storage/*.key
/public/storage

# Directorios de caché
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/

# Otros
.DS_Store
Thumbs.db
*.swp

#environment files
.env
storage/app/SGI/Procedimientos/3. Dirección Administrativa/3.1  Recursos Humanos/PRH-01 Recursos Humanos/PRH-01_F-07 Cuestionario de Identificación de Factores de Riesgo Psicosocial y Entorno Organizacional NR00 .pdf
storage/app/SGI/Procedimientos/3. Dirección Administrativa/3.1  Recursos Humanos/PRH-01 Recursos Humanos/PRH-01_F-07 Cuestionario de Identificación de Factores de Riesgo Psicosocial y Entorno Organizacional NR00 .pdf
*.pdf
storage/app/SGI/Procedimientos/3. Dirección Administrativa/3.1  Recursos Humanos/PRH-01 Recursos Humanos/PRH-01_F-07 Cuestionario de Identificación de Factores de Riesgo Psicosocial y Entorno Organizacional NR00 .pdf
storage/app/SGI/Procedimientos/5. Dirección de Operaciones/5.2 Implementación de Proyectos/ITIP-01 Instrucción de Trabajo de Canalizaciones Eléctricas/ITIP-01 Instrucción de Trabajo de canalizaciones eléctricas NR00.pdf
storage/app/SGI/Procedimientos/5. Dirección de Operaciones/5.2 Implementación de Proyectos/ITIP-02 Instrucción de Trabajo para Instalación de Sistemas de Conexiones a Tierra/ITIP-02_F-01 Registro de Prueba de Resistencia a Tierra NR00.pdf
*.pdf
