/vendor
/node_modules
/storage/*.key
/public/storage

# Directorios de caché
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/

# Otros
.DS_Store
Thumbs.db
*.swp

#environment files
.env
